/* Reference free CSS layout from W3 schools */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
}

.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three unequal columns that float next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.left {
  width: 15%;
}

label {
  display: block;
}

/* Middle column */
.column.right {
  width: 85%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the Footer */
.footer {
  margin-top: 10px;
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.footer a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
}

/* Change color on hover */
.footer a:hover {
  background-color: #ddd;
  color: black;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.left, .column.right {
    width: 100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .footer a {
    float: none;
    width: 100%;
  }
}
